.about__container {
  margin: 5rem 0;
  padding: 12%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  /* background-color: #fdf1d9; */

}



.about__container img {
  width: 15rem;
  height: 18rem;
  border-radius: 100%;
  border: 10px solid #201815;
  margin-bottom: 1rem;
  object-fit: cover;


}

.about__text {

  max-width: 600px;
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  color: rgb(250, 238, 216);
  padding-left: 10%;

}

/*  ---------------- MEDIA QUERIES ----------- */

@media only screen and (max-width: 900px) {
  .about__container {

    flex-direction: column;
    justify-content: center;
    box-sizing: content-box;
    padding-top: 5%;



  }



  .about__container img {
    width: 9rem;
    height: 11rem;



  }
}

@media only screen and (max-width: 700px) {
  .about__container {
    padding-top: 10%;

  }

  .about__text {
    max-width: 400px;

  }

}