.about__container {
  /* margin: 5rem 0; */
  padding: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: content-box;
}

.about__container img {
  width: 10rem;
  height: 13rem;
  border-radius: 100%;
  border: 10px solid #201815;
  margin-bottom: 1rem;
  object-fit: cover;
}

.about__text {
  max-width: 600px;
}

/*  ---------------- MEDIA QUERIES ----------- */

@media only screen and (max-width: 900px) {
  .about__container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 700px) {
  .about__text {
    max-width: 300px;
  }
}