.skills {
  font-size: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

#sk {
  color: #fba92c;



}

.skills .list {
  list-style: none;
  width: 80%;
}

.list span {
  font-size: 20px;
}

@media only screen and (max-width: 900px) {
  .skills {
    text-align: center;
    font-size: large;


  }

  .list {
    padding: 0;
  }

  .skills h2 {
    font-size: medium;
  }
}